<template class="white">
  <div class="blue">
    <v-app-bar
        color="deep-purple accent-4"
        dense
        dark
        fixed
    >
      <v-btn icon @click="backArrow()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>Foto</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="openCamera" title="Foto Ulang">
        <v-icon>mdi-reload</v-icon>
      </v-btn>

      <v-btn icon @click="sendImage(false)">
        <v-icon>mdi-send</v-icon>
      </v-btn>
    </v-app-bar>
    <v-sheet
        id="scrolling-techniques-7"
        class="overflow-y-auto"
        style="background-color: black"
        :height="screenHeight"
    >
      <v-container class="text-center">
        <vue-image-compressor></vue-image-compressor>
        <image-compressor
            ref="compressor"
            :done="getFiles"
            :scale="scale"
            :quality="quality"
        />
        <v-img
            class="mt-12"
            :style="transformImage"
            contain
            :max-height="screenHeight - 100"
            ref="imageCamera"
            :src="imagePreview"
        ></v-img>
        <v-btn @click="openCamera" v-if="!imagePreview.length > 0"><v-icon>mdi-refresh</v-icon>&nbsp;Foto ulang</v-btn>

      </v-container>
    </v-sheet>
    <div hidden>
      <input ref="camera" type="file" accept="image/*" capture @change="generateImage">
    </div>
    <v-dialog v-model="dialogForm" persistent>
      <v-card>
        <v-card-title>
        </v-card-title>
        <v-card-text>
          <v-textarea v-model="message" label="Ketik pesan anda" outlined ref="messageBox" background-color="white" class="ma-3"></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn :loading="camera.loading.submit" @click="sendImage(true)" color="success">KIRIM</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapState} from "vuex";
import imageCompressor from '../small_components/imageCompressor'

const { isValid } = require('../../helper/helper')
export default {
  name: "OpenCamera",
  components: { imageCompressor },
  props: ['home'],
  data(){
    return {
      quality: 30,
      scale: 30,
      img:'',
      compressed: '',
      imageFile: '',
      dialogForm: false,
      screenHeight: window.innerHeight,
      imagePreview: '',
      imageWidth: 0,
      imageHeight: 0,
      cameraOpen: false,
      mediaDevices: navigator.mediaDevices,
      msgboxHeight: 0,
      message: '',
      original: {}
    }
  },
  mounted() {
    if(!isValid(this.tokenGenerate, this.$route.hash)) this.$router.push('/')
    this.openCamera()
  },
  methods: {
    getFiles(obj){
      this.img = obj.compressed.blob
      this.original = obj.original
      this.compressed = obj.compressed

      this.generateImage()
    },
    async generateImage(){
      // let preview;
      let iWidth, iHeight;

        setTimeout(()=>{
          this.imagePreview = this.img

          let imgDetail = new Image();
          imgDetail.onload = function (){
            iWidth = imgDetail.width
            iHeight = imgDetail.height
          }

          imgDetail.src = this.img


          setTimeout(()=>{
            this.imageWidth = iWidth
            this.imageHeight = iHeight
          }, 100)
        }, 100)
    },
    openCamera(){
      let compressor = this.$refs.compressor.$el
      compressor.click()
    },
    async sendImage(send){
      if(send){
        const userProfile = this.$store.state.login.data.user_information
        let formData = new FormData();
        formData.append('no_ktp', userProfile.no_ktp)
        formData.append('image', this.compressed.file);
        formData.append('message', this.message);

        const sendImageToBackend = await this.$store.dispatch('camera/sendImage', {
          url: this.webApi,
          payload: formData
        })
        //
        if(sendImageToBackend){
          await this.$router.replace({path: '/home/camera/success', hash: this.tokenGenerate.toString()})
        }
      }

      this.dialogForm = true
    },
    backArrow(){
      this.$router.back()
    },
  },
  computed: {
    ...mapState(['camera']),
    transformImage(){
      if(this.imageHeight < this.imageWidth){
        return 'transform: rotate(90deg) scale(1.6); padding-top: 500px'
      }else{
        return `border-radius: 20px; height: ${this.imageHeight}px; width: ${this.imageWidth}px;`
      }
    }
  }
}
</script>

<style scoped>

</style>
