<template>
  <v-container class="white" style="height: 100%">
    <v-app-bar
        color="deep-purple accent-4"
        dense
        dark
        fixed
    >
      <v-btn outlined rounded @click="backArrow()">
        <v-icon>mdi-home</v-icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title style="width: 100%" class="text-center">Unggahan Foto</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="getAllHistory" title="Perbarui Daftar">
        <v-icon>mdi-reload</v-icon>
      </v-btn>
    </v-app-bar>
    <v-sheet
        id="scrolling-techniques-7"
        class="overflow-y-auto"
    >
      <v-container>
        <v-row class="mt-8">
          <v-col v-if="history.loading.get_data">
            <v-skeleton-loader
                v-bind="attrs"
                type="article, actions"
                class="skeleton-loader-isi"
            ></v-skeleton-loader>
            <v-skeleton-loader
                v-bind="attrs"
                type="article, actions"
                class="skeleton-loader-isi"
            ></v-skeleton-loader>
          </v-col>
          <template v-if="!history.loading.get_data">
            <v-col v-if="history.data.item.length <= 0" class="text-center">
              <i>Belum ada foto yang di unggah</i>
            </v-col>
            <v-col
                v-for="(item, i) in history.data.item"
                :key="i"
                cols="12"
            >
              <v-card
                  elevation="5"
                  color="#155565"
                  dark
                  :img="`data:image/jpeg;base64, ${item.base64}`"
              >
                <div>
                  <v-card-title><v-chip small color="grey darken-3 transparent">{{ moment(item.createdAt) }}</v-chip></v-card-title>
                  <v-card-subtitle><v-chip class="mt-2 white black--text" style="width: 100%"><b>Pesan:</b>&nbsp;{{ item.message.length > 25 ? `${String(item.message).substr(0,25)}...`: item.message }}</v-chip></v-card-subtitle>

                  <v-card-actions class="mb-2">
                    <v-btn
                        class="ml-2 white black--text"
                        outlined
                        rounded
                    >
                      <v-icon :color="STATUS_HISTORY(item.status).color">{{ STATUS_HISTORY(item.status).icon }}</v-icon>&nbsp;{{ STATUS_HISTORY(item.status).text }}
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        @click="toHistoryDetail(item.code)"
                        class="d-flex float-right"
                        outlined
                        rounded
                        :loading="history.loading.get_detail"
                    >
                      Detail&nbsp;<v-icon color="white">mdi-arrow-right</v-icon>
                    </v-btn>
                  </v-card-actions>
                </div>
              </v-card>
            </v-col>
          </template>

        </v-row>
      </v-container>
    </v-sheet>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
const moment = require('moment')
const { STATUS_HISTORY } = require('../helper/constants')

export default {
  name: "HistoryPage",
  created() {
    document.title = "RCK 24 | Daftar Unggahan"
  },
  data: () => {
    return {
      attrs: {
        class: 'mb-6',
        boilerplate: false,
        elevation: 2,
      },
      screenHeight: window.innerHeight,
      items: [
        {
          color: '#155565',
          src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
          titleDay: "Senin",
          titleDate: "03 April 2023",
          message: 'Terimakasih telah memberikan suara Terimakasih telah memberikan suara Terimakasih telah memberikan suara',
        },
        {
          color: '#155565',
          src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
          titleDay: "Senin",
          titleDate: "03 April 2023",
          message: 'Terimakasih telah memberikan suara Terimakasih telah memberikan suara Terimakasih telah memberikan suara',
        },
        {
          color: '#155565',
          src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
          titleDay: "Senin",
          titleDate: "03 April 2023",
          message: 'Terimakasih telah memberikan suara Terimakasih telah memberikan suara Terimakasih telah memberikan suara',
        },
      ]
    }
  },
  methods: {
    moment(date){
      return moment(date).locale('id').format('dddd, DD MMMM YYYY - HH:mm:ss')
    },
    toHistoryDetail(code){
      this.$store.dispatch('history/getOneByCodeAndNik', {
        url: this.webApi,
        code
      })

      this.$router.push({
        path: '/history/detail',
        query: { code }
      })
    },
    backArrow(){
      this.$router.push('/')
    },
    getAllHistory(){
      this.$store.dispatch('history/getAllList', {
        url: this.webApi
      })
    },
    STATUS_HISTORY(s){
      return STATUS_HISTORY[s]
    }
  },
  mounted() {
    this.getAllHistory()
  },
  computed: {
    ...mapState(['history'])
  }
}
</script>

<style scoped>
.skeleton-loader-isi.v-skeleton-loader .v-skeleton-loader__bone::after{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255 255 255), rgba(255, 255, 255, 0));
}
</style>
