<template>
  <v-card class="overflow-hidden">
    <v-app-bar
        class="header-block"
        fixed
        color="blue"
        elevate-on-scroll
        scroll-target="#scrolling-techniques-7"
    >
      <div class="verified-information">
        <v-btn v-if="LD_CheckSession" icon loading></v-btn>
        <v-icon v-if="!LD_CheckSession" :color="STATUS?.color">{{ STATUS?.icon }}</v-icon>
        <span v-if="!LD_CheckSession" :class="STATUS?.color + '--text'">&nbsp;{{ STATUS?.text }}</span>
      </div>
    </v-app-bar>
    <v-sheet
        id="scrolling-techniques-7"
        class="overflow-y-auto"
        :max-height="screenHeight"
    >
      <v-container :style="container_style">
        <v-card elevation="3">

          <v-card-text>
            <span class="white--text font-weight-bold lbl-account-info">Informasi Akun</span>
            <table class="mt-2" width="100%">
              <tbody>
                <tr>
                  <td>
                    <span>
                      <b>Nama Lengkap</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.nama_lengkap }}</span>
                    </span>
                    <hr class="mt-1 mb-1">
                    <span>
                      <b>No KTP</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.no_ktp }}</span>
                    </span>
                    <hr class="mt-1 mb-1">
                    <span>
                      <b>Tempat / Tanggal Lahir</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.tempat_lahir }}</span>
                    </span>
                    <hr class="mt-1 mb-1">
                    <span>
                      <b>Alamat Lengkap Sesuai KTP</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.alamat_lengkap }}</span>
                    </span>
                    <hr class="mt-1 mb-1">
                    <span>
                      <b>No Handphone</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.telp }}</span>
                    </span>
                    <hr class="mt-1 mb-1">
                    <span>
                      <b>Koordinator</b><br>
                      <CSkeletonLoader v-if="LD_CheckSession" />
                      <span v-else>{{ login.data.user_information.koordinator?.nama_lengkap || '-' }}</span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </v-card-text>
        </v-card>
      </v-container>
    </v-sheet>
    <v-bottom-navigation
        fixed
        horizontal
        class="text-center blue"
    >
      <v-btn icon class="mr-10" style="width: 50%" @click="openHistory">
        <v-icon color="white" >mdi-history</v-icon>
      </v-btn>

      <v-icon @click="openCamera()" class="grey lighten-3 primary--text elevation-8" large style="height: 100px; width: 100px; position: fixed; bottom: 0px; border-radius: 100%; z-index: 999999">mdi-camera</v-icon>

      <v-btn icon class="ml-10" style="width: 50%">
        <v-icon color="white" @click="logOut">mdi-logout</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-card>
</template>

<script>
import {mapState} from "vuex";
import CSkeletonLoader from "@/components/small_components/CSkeletonLoader";
import { STATUS } from '@/helper/constants'

export default {
  name: "HomePage",
  components: {CSkeletonLoader},
  created() {
    document.title = "RCK 24 | Home"
  },
  data: () => {
    return {
      screenHeight: window.innerHeight
    }
  },
  mounted() {
    this.checkSession()
  },
  computed: {
    ...mapState(['login']),
    LD_CheckSession(){
      return this.login.loading.check_session
    },
    container_style(){
      return `
        padding-top: 140px;
        height: ${this.screenHeight}px
      `
    },
    STATUS(){
      return STATUS[this.login.data.user_information.status]
    }
  },
  methods: {
    async checkSession(){
      if(localStorage.getItem('entry-token') == null){
        this.logOut()
        return false
      }

      const session = await this.$store.dispatch('login/checkSession', {
        url: this.webApi,
        payload: {
          token: localStorage.getItem('entry-token')
        }
      })

      if(!session){
        this.logOut()
        return false
      }
    },
    openCamera(){
      if(this.login.data.user_information.status === 'VERIFIED') {
        this.$router.push({
          path: '/home/camera',
          hash: this.tokenGenerate.toString()
        })
      } else {
        alert('Status anda masih belum diverifikasi')
      }
    },
    openHistory(){
      if(this.login.data.user_information.status === 'VERIFIED'){
        this.$router.push({
          path: '/history',
          hash: this.tokenGenerate.toString()
        })
      } else {
        alert('Status anda masih belum diverifikasi')
      }
    },
    logOut(){
      localStorage.removeItem('entry-token')
      this.$router.replace({
        path: '/login'
      })
    }
  }
}
</script>

<style scoped>
.header-block{
  padding-top: 20px;
  width: 100%;
  height: 120px !important;
  /*background-color: #239ede;*/
  border-bottom-left-radius: 50% !important;;
  border-bottom-right-radius: 50% !important;;
  text-align: center;
}
.verified-information{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 70%;
  height: 40px;
  line-height: 40px;
  font-weight: bolder;
  color: green;
}
.footer-data{
  position: fixed;
  background-color: red;
  bottom: 0px;
}

.lbl-account-info{
  background-color: mediumseagreen;
  border-radius: 20px;
  padding: 3px 20px 3px 20px;
}
</style>
