<template>
  <v-container style="height:100%; background-image: url('https://i.pinimg.com/736x/eb/c7/5b/ebc75b24dadac91abbb2130a82d9502e.jpg')">
    <v-row class="text-center">
      <v-col cols="12">
        <h1 class="white--text mt-6" style="font-size: 75px; font-weight: bolder font-family: Manjari,serif">RCK 24</h1>
      </v-col>

      <v-col class="pa-3">
        <h3 class="ma-2 white--text">
          Selamat Datang
        </h3>

        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="username" label="Username"></v-text-field>
                <v-text-field v-model="password" label="Password" type="password"></v-text-field>
                <v-btn block color="primary" @click="toLogin" :loading="login.loading.submit">Login</v-btn>
              </v-col>
              <v-col cols="12">
                Belum memiliki akun?<v-btn text color="primary" @click="toRegister">Daftar disini</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar top centered :color="login.notification.color" v-model="login.notification.show">
      {{ login.notification.text }}
    </v-snackbar>
    <v-snackbar top centered :color="register.notification.color" v-model="register.notification.show">
      {{ register.notification.text }}
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapState } from "vuex";

  export default {
    name: 'HelloWorld',

    data: () => ({
      username: '',
      password: ''
    }),
    mounted() {
    },
    methods: {
      async toLogin(){
        const submitLogin = await this.$store.dispatch('login/submitLogin', {
          url: this.webApi,
          payload: {
            no_ktp: this.username,
            password: this.password
          }
        })

        if(submitLogin.success) {
          localStorage.setItem("entry-token", submitLogin.token)
          await this.$router.replace('/')
        }
      },
      toRegister(){
        this.$router.push('/register')
      }
    },
    computed: {
      ...mapState(['register', 'login'])
    }
  }
</script>
