<template>
  <v-container style="height:100%;">
    <v-row class="text-center">
      <v-col class="pa-2">
        <h3 class="ma-4 white--text">
          Selamat Datang
        </h3>

        <v-card>
          <v-card-text>
            <v-form ref="form">
              <h2>Data Pengguna</h2>
              <v-row>
                <v-col cols="12">
                  <v-text-field :rules="validation.nik" v-model="data_pribadi.no_ktp" label="NIK" type="number" max="16" oninput="if(Number(this.value.length) > Number(this.max)) this.value = this.value.substring(0,16);"></v-text-field>
                  <v-text-field :rules="validation.password" v-model="data_pribadi.password" type="password" label="Password (Harap ingat password anda)"></v-text-field>
                  <v-text-field :rules="validation.no_hp" v-model="data_pribadi.telp" label="Nomor Handphone" type="number"></v-text-field>
                  <v-text-field :rules="validation.nama" v-model="data_pribadi.nama_lengkap" label="Nama Lengkap (Sesuai KTP)"></v-text-field>
                  <v-text-field :rules="validation.tempat_lahir" v-model="data_pribadi.tempat_lahir" label="Tempat Lahir"></v-text-field>
                  <v-text-field :rules="validation.tanggal_lahir" v-model="data_pribadi.tanggal_lahir" label="Tanggal Lahir" type="date"></v-text-field>
                </v-col>
              </v-row>
              <h2>Alamat</h2>
              <v-row>
                <v-col cols="12">
                  <v-select :rules="validation.provinsi" dense label="Provinsi" v-model="wilayah.provinsi" :items="register.wilayah.provinsi" :loading="register.loading.provinsi" :disabled="register.loading.provinsi"  item-value="id" item-text="name" @change="getWilayah('kabkota', 'provinsi')"></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select :rules="validation.kabkota" dense label="Kabupaten / Kota" v-model="wilayah.kabkota" :loading="register.loading.kabkota" :disabled="register.loading.kabkota" :items="register.wilayah.kabkota" item-value="id" item-text="name" @change="getWilayah('kecamatan', 'kabkota')"></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select :rules="validation.kecamatan" dense label="Kecamatan" v-model="wilayah.kecamatan" :loading="register.loading.kecamatan" :disabled="register.loading.kecamatan" :items="register.wilayah.kecamatan" item-value="id" item-text="name" @change="getWilayah('kelurahan', 'kecamatan')"></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select :rules="validation.kelurahan" dense label="Kelurahan" v-model="wilayah.kelurahan" :loading="register.loading.kelurahan" :disabled="register.loading.kelurahan" :items="register.wilayah.kelurahan" item-value="id" item-text="name"></v-select>
                </v-col>
                <v-col cols="6">
                  <v-text-field :rules="validation.rt" dense label="RT" v-model="wilayah.rt" type="number"></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field :rules="validation.rw" dense label="RW" v-model="wilayah.rw" type="number"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select :rules="validation.koordinator" dense label="Koordinator" v-model="wilayah.koordinator" :items="register.wilayah.koordinator" :loading="register.loading.koordinator" :disabled="register.loading.koordinator"  item-value="code" item-text="nama_lengkap"></v-select>
                </v-col>
                <v-col cols="12">
                  <v-textarea :rules="validation.detail_alamat" v-model="wilayah.alamat_lengkap" label="Detail Alamat" outlined></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-btn :loading="register.loading.submit" block color="primary" @click="submitRegister">DAFTAR</v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar
        top
        v-model="register.notification.show"
        :color="register.notification.color"
    >
      {{ register.notification.text }}
      <template v-slot:action="{ attrs }">
        <v-btn
            color="white"
            text
            v-bind="attrs"
            @click="closeSnackbar"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
const empty_validation = (v)=>{
  return !!v || 'Harus diisi'
}
const string_validation = (v)=>{
  return !(/\d/.test(v)) || 'Hanya boleh huruf';
}

export default {
  name: "RegisterPage",
  data: () => {
    return {
      validation: {
        nik: [ empty_validation ],
        password: [ empty_validation ],
        no_hp: [ empty_validation ],
        nama: [ empty_validation, string_validation ],
        tempat_lahir: [ empty_validation ],
        tanggal_lahir: [ empty_validation ],
        provinsi: [ empty_validation ],
        kabkota: [ empty_validation ],
        kecamatan: [ empty_validation ],
        kelurahan: [ empty_validation ],
        rt: [ empty_validation ],
        rw: [ empty_validation ],
        koordinator: [ empty_validation ],
        detail_alamat: [ empty_validation ]
      },
      data_pribadi: {
        no_ktp: null,
        password: null,
        telp: null,
        nama_lengkap: null,
        tempat_lahir: null,
        tanggal_lahir: null
      },
      wilayah: {
        provinsi: null,
        kabkota: null,
        kecamatan: null,
        kelurahan: null,
        rt: null,
        rw: null,
        koordinator: null,
        alamat_lengkap: null
      }
    }
  },
  mounted() {
    this.getWilayah('provinsi')
    this.getKoordinator()
  },
  methods: {
    getKoordinator(){
      this.$store.dispatch('register/getKoordinator', {
        url: this.webApi
      })
    },
    getWilayah(type, id_from){
      this.$store.dispatch('register/getWilayah', { type, id_from: this.wilayah[id_from] })
    },
    async submitRegister(){
      if(this.$refs.form.validate()){
        const submit = await this.$store.dispatch('register/submitRegister', {
          url: this.webApi,
          payload: {
            ...this.data_pribadi,
            ...this.wilayah
          }
        })

        if(submit.success){
          this.$refs.form.reset()
          await this.$router.replace('/login')
        }
      }else{
        this.$store.commit('register/SHOW_NOTIFICATION', { show: true, color: 'warning', text: 'Data anda belum lengkap. Silakan cek kembali formulir anda.' })
      }
    },
    closeSnackbar(){
      this.$store.commit('register/SHOW_NOTIFICATION', { show: false })
    }
  },
  computed: {
    ...mapState(['register'])
  },
}
</script>

<style scoped>

</style>
