<template>
  <v-container class="white text-center" style="height: 100%">
    <v-icon color="green" size="200" class="mt-12 mb-12">mdi-check-circle</v-icon>

    <h3>Data anda berhasil dikirim</h3>
    <v-btn @click="openHistory" color="primary" small class="mt-10">Ke halaman status submit data</v-btn>
  </v-container>
</template>

<script>
const { isValid } = require('../helper/helper')
export default {
  name: "SuccessPage",
  mounted() {
    if(!isValid(this.tokenGenerate, this.$route.hash)) this.$router.replace('/')
  },
  methods: {
    openHistory(){
      this.$router.push({
        path: '/history',
        hash: this.tokenGenerate.toString()
      })
    }
  }
}
</script>

<style scoped>

</style>
