<template>
  <v-skeleton-loader
      class="skeleton-loader-isi"
      type="text"
  ></v-skeleton-loader>
</template>

<script>
export default {
  name: "CSkeletonLoader"
}
</script>

<style>
.skeleton-loader-isi.v-skeleton-loader .v-skeleton-loader__bone::after{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255 255 255), rgba(255, 255, 255, 0));
}
</style>
