<template>
  <div class="white fill-height pa-2">
    <v-app-bar
        color="deep-purple accent-4"
        dense
        dark
        fixed
    >
      <v-btn icon @click="backArrow()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>History</v-toolbar-title>
    </v-app-bar>
    <div v-if="history.loading.get_detail" class="d-flex align-center justify-center fill-height">
      <v-progress-circular
          color="grey-lighten-4"
          indeterminate
      ></v-progress-circular>
    </div>
    <template v-if="!history.loading.get_detail">
      <v-sheet
          id="scrolling-techniques-7"
          class="overflow-y-auto pt-12"
      >
        <v-card>
          <v-img lazy-src="https://mediakaltim.com/wp-content/uploads/2023/02/BERAU-KTP-Digital-696x496.jpeg" :src="`data:image/jpeg;base64, ${ history.data.item_detail.base64 }`">
            <template v-slot:default>
              <div class="d-flex align-end justify-end fill-height">
                <v-btn large icon @click="openImage(DET.base64)" class="mb-3 mr-3" color="white">
                  <v-icon large>mdi-fullscreen</v-icon>
                </v-btn>
              </div>
            </template>
            <template v-slot:placeholder>
              <div class="d-flex align-center justify-center fill-height">
                <v-progress-circular
                    color="grey-lighten-4"
                    indeterminate
                ></v-progress-circular>
              </div>
            </template>
          </v-img>
          <v-list-item two-line>
            <v-list-item-content>
              <v-btn outlined rounded>
                <v-icon :color="STATUS_HISTORY(DET.status).color">{{ STATUS_HISTORY(DET.status).icon }}</v-icon>&nbsp; {{ STATUS_HISTORY(DET.status).text }}
              </v-btn>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item class="mb-5">
            <v-list-item-content>
              <span class="mb-2">
                <v-list-item-title>Diupload pada tanggal</v-list-item-title>
                <v-list-item-subtitle>
                  {{ moment(DET.createdAt) }}
                </v-list-item-subtitle>
              </span>
              <span class="mb-2">
                <v-list-item-title>NIK</v-list-item-title>
                <v-list-item-subtitle>{{ DET.no_ktp }}</v-list-item-subtitle>
              </span>
              <span class="mb-2">
                <v-list-item-title>Status Foto</v-list-item-title>
                <v-list-item-subtitle>{{ DET.status }}</v-list-item-subtitle>
              </span>
              <span class="mb-2">
                <v-list-item-title>Nama Foto</v-list-item-title>
                <v-list-item-subtitle>{{ DET.originalname }}</v-list-item-subtitle>
              </span>
              <span class="mb-2">
                <v-list-item-title>Pesan</v-list-item-title>
                <v-list-item-subtitle>{{ DET.message }}</v-list-item-subtitle>
              </span>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-sheet>
    </template>

  </div>

</template>

<script>
import {mapState} from "vuex";
const { STATUS_HISTORY } = require('../../helper/constants')
const moment = require('moment')

export default {
  name: "HistoryDetail",
  created() {
    document.title = "RCK 24 | Detail Foto"
  },
  data: () => {
    return {
      imageBase64: ''
    }
  },
  async mounted() {
    // await this.getDetailHistory(this.$route.query.code)
    // this.imageBase64 = this.history.data.item.base64
  },
  methods: {
    openImage(base64){
      let image = new Image();
      image.src = "data:image/jpg;base64," + base64;

      let w = window.open("");
      w.document.write(image.outerHTML);
    },
    sendComment(){
      alert('Done')
    },
    backArrow(){
      this.$router.back()
    },
    STATUS_HISTORY(s){
      return STATUS_HISTORY[s]
    },
    moment(date){
      return moment(date).locale('id').format('dddd, DD MMMM YYYY - HH:mm:ss')
    },
  },
  computed: {
    ...mapState(['history']),
    DET(){
      return this.$store.state.history.data.item_detail
    },
  }
}
</script>

<style scoped>
  .txt-subtitle{
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }
</style>
