<template>
  <v-app>
    <v-main class="black">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {},

  data: () => ({
    //
  }),
  mounted() {
  }
};
</script>

<style>
:root {
  touch-action: pan-x pan-y;
  height: 100%
}

</style>
